# Supabase Configuration
VITE_SUPABASE_URL=https://vafxrjhzgzihjiphvhms.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_DjAOlK1l0azyNgfzA9Gv3Q_43bQNxgi

# Backend FastAPI URL
VITE_API_URL=http://localhost:8000

# Default Admin Credentials
VITE_ADMIN_EMAIL=admin@automatch.vn
VITE_ADMIN_PASSWORD=AutoMatchPassword2026!
VITE_MANAGER_EMAIL=manager.hanoi@automatch.vn
VITE_MANAGER_PASSWORD=AutoMatchPassword2026!
