# Supabase Configuration
VITE_SUPABASE_URL=https://vafxrjhzgzihjiphvhms.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_DjAOlK1l0azyNgfzA9Gv3Q_43bQNxgi

# Backend FastAPI URL
VITE_API_URL=http://localhost:8000
