# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL="YOUR_SUPABASE_PROJECT_URL"
EXPO_PUBLIC_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"

# AI FastAPI Backend Configuration
# Ví dụ: http://localhost:8000 khi chạy máy ảo hoặc https://your-backend.com
EXPO_PUBLIC_API_URL="http://localhost:8000"
